.header {
	align-items: center;
	background: #cdcdcd;
	display: flex;
	font-weight: bold;
	justify-content: space-between;
	padding: 5px 10px;
}

.main {
	padding: 10px 10px;

	.navigation {
		align-items: center;
		display: flex;
		flex: 1;
		flex-direction: column;
		flex-wrap: wrap;
		gap: 10px;
		justify-content: flex-start;
	}

	hr {
		border-color: #fdfdfd;
		height: 1px;
		margin: 10px 0;
		width: 100%;
	}
}

.footer {
	align-items: center;
	background: #dedede;
	display: flex;
	justify-content: center;
	margin-top: auto;
	padding: 5px 10px;
}
